/* 
	Grey Suits you Sir. Please host the images on your own server.
	written by Stuart Colville http://www.muffinresearch.co.uk
*/

.otable, .otable td
{
	width: auto;
	border               : 1px solid #CCC;
	border-collapse      : collapse;
    font                 : small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
.otable table
{
	border                :none;
	border                :1px solid #CCC;
}
.otable thead th,
.otable tbody th
{
	background            : #FFF url(../images/th_bck.gif) repeat-x;
  color                 : #666;  
	padding               : 5px 10px;
  border-left           : 1px solid #CCC;
}
.otable tbody th
{
  background            : #fafafb;
  border-top            : 1px solid #CCC;
  text-align            : left;
  font-weight           : normal;
}
.otable tbody tr td
{
	padding               : 2px 10px;
  color                 : #666;
}
.otable tbody tr:hover
{
  background            : #FFF url(../images/tr_bck.gif) repeat;
}

.otable tbody tr:hover td
{
  color                 : #454545;
}
.otable tfoot td,
.otable tfoot th
{
  border-left           : none;
  border-top            : 1px solid #CCC;
	padding               : 4px;
  background            : #FFF url(../images/foot_bck.gif) repeat;
  color                 : #666;
}
.otable caption
{
	text-align            : left;
	font-size             : 120%;
	padding               : 10px 0;
	color                 : #666;
}
.otable table a:link
{
	color                 : #666;
}
.otable table a:visited
{
	color                 : #666;
}
.otable table a:hover
{
	color                 : #003366;
	text-decoration       : none;
}
.otable table a:active
{
	color                 : #003366;
}